.cell::after {
  content: '';
  display: block;
}

.cell,
.cell::after {
  width: var(--cell-sm);
  height: var(--cell-sm);
  background: var(--cell-background-color);
  outline: 1px solid var(--cell-outline-color);

  @media (min-width: 768px) {
    width: var(--cell-md);
    height: var(--cell-md);
  }
}

.cell  {
  &::after {
    border-radius: 50%;
    outline: none !important;
    max-width: 92%;
    max-height: 92%;
  }
  &[data-value='1']::after {
    background-color: #FF7F2A; /* Brighter Burnt Orange */
  }
  &[data-value='2']::after {
    background-color: #F6BE00; /* Brighter Mustard Yellow */
  }
  &[data-value='3']::after {
    background-color: #9DBE3F; /* Lively Olive Green */
  }
  &[data-value='4']::after {
    background-color: #7BAFD4; /* Brighter Dusty Blue */
  }
  &[data-value='5']::after {
    background-color: #A61B29; /* Rich Burgundy */
  }
  &[data-value='6']::after {
    background-color: #CFA0C8; /* Brighter Mauve */
  }
}

