.answer-row {
  display: flex;
}

.answer-row-cell::after {
  content: '';
  display: block;
}

.answer-row-cell,
.answer-row-cell::after {
  width: var(--cell-sm);
  height: var(--cell-sm);
  background: var(--cell-background-color);
  outline: 1px solid var(--cell-outline-color);

  @media (min-width: 768px) {
    width: var(--cell-md);
    height: var(--cell-md);
  }
}
