.text {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0);
  padding: 0.25rem 0.5rem;
}

.text-wrapper {
  color: var(--color-white);
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  outline: 0.4rem solid var(--color-white);
  outline-offset: 0.4rem;
}

.button {
  border: none;
  width: 100%;
  color: var(--color-black);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255);
  padding: 0.25rem 0.5rem;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
