@import '@styles/globals';

.snake-game-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
  color: var(--color-white);
  margin: 0 auto;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  max-width: 33rem;
}

.snake-board {
  & .board-cell,
  & .board-cell::after {
    @media (--viewport-tablet-min) {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  /* Snake colour */
  [data-value='1']::after {
    background: var(--color-white);
  }

  /* Food colour */
  [data-value='2']::after {
    background: #008000;
  }
}
