.tetris-game-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr minmax(5rem, 1fr);
  column-gap: 0.5rem;
  color: var(--color-white);
  margin: 0 auto;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  max-width: 33rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 2fr minmax(10rem, 1fr);
  }
}

.tetris-panel-wrapper {
  display: grid;
  row-gap: 1rem;
}

.tetris-score-wrapper {
  height: auto;
  max-height: 100%;
}

/* T shape */
& [data-value='3']::after {
  background: #9900fe;
  background: rgb(153, 0, 254);
  background: linear-gradient(
    145deg,
    rgba(153, 0, 254, 1) 0%,
    rgba(119, 0, 197, 1) 100%
  );
}

/* Left L shape */
& [data-value='4']::after {
  background: #1500ff;
  background: rgb(21, 0, 255);
  background: linear-gradient(
    145deg,
    rgba(21, 0, 255, 1) 0%,
    rgba(17, 0, 207, 1) 100%
  );
}

/* Right L shape */
& [data-value='5']::after {
  background: #ffaa00;
  background: rgb(255, 170, 0);
  background: linear-gradient(
    145deg,
    rgba(255, 170, 0, 1) 0%,
    rgba(208, 139, 0, 1) 100%
  );
}

/* Right skew shape */
& [data-value='6']::after {
  background: #00ff00;
  background: rgb(0, 255, 0);
  background: linear-gradient(
    145deg,
    rgba(0, 255, 0, 1) 0%,
    rgba(0, 207, 0, 1) 100%
  );
}

/* Left skew shape */
& [data-value='7']::after {
  background: #ff0100;
  background: rgb(255, 1, 0);
  background: linear-gradient(
    145deg,
    rgba(255, 1, 0, 1) 0%,
    rgba(206, 1, 0, 1) 100%
  );
}

/* Square shape */
& [data-value='8']::after {
  background: #feff00;
  background: rgb(254, 255, 0);
  background: linear-gradient(
    145deg,
    rgba(254, 255, 0, 1) 0%,
    rgba(206, 207, 0, 1) 100%
  );
}

/* Bar shape */
& [data-value='9']::after {
  background: #0afeff;
  background: rgb(10, 254, 255);
  background: linear-gradient(
    145deg,
    rgba(10, 254, 255, 1) 0%,
    rgba(0, 208, 208, 1) 100%
  );
}

