.board-cell::after {
  content: '';
  display: block;
}

.board-cell,
.board-cell::after {
  width: var(--cell-sm);
  height: var(--cell-sm);
  background: var(--cell-background-color);
  outline: 1px solid var(--cell-outline-color);

  @include media('>=tablet') {
    width: var(--cell-md);
    height: var(--cell-md);
  }
}
