.answer-row {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
}

.answer-row-cell::after {
  content: '';
  display: block;
}

.answer-row-cell,
.answer-row-cell::after {
  background: var(--cell-background-color);

}
