.mastermind-game-wrapper {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  column-gap: var(--space-s);
  color: var(--color-white);
  margin: 0 auto;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  max-width: 33rem;
  background: #161616;
  padding: var(--space-s);
}

.board-wrapper {
  justify-self: center;
}

.secret-heading {
  text-align: center;
  margin-right: var(--cell-xl); 
}

.answer-row {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
}

.answer-row-cell::after {
  content: '';
  display: block;
}

.answer-row-cell,
.answer-row-cell::after {
  background: var(--cell-background-color);
}

.dummy-cell {
  width: var(--cell-lg);
  height: var(--cell-lg);
}

.secret-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-lg);
  height: var(--cell-lg);
  border-radius: var(--border-radius);
  border: var(--border);
}
