.result {
  flex-grow: 1;
  justify-content: center;
  display: grid;
  grid-template-areas:    
    'r1 r2' 
    'r3 r4';
  gap: 0.15rem;
}

.result-cell {
  width: 0.75rem;
  height: 0.75rem;
  border: none;
  border-radius: 0.75rem;
  background-color:rgb(13, 62, 88); 
}

.result-cell-1 {
  grid-area: r1;
}

.result-cell-2 {
  grid-area: r2;
}

.result-cell-3 {
  grid-area: r3;
}

.result-cell-4 {
  grid-area: r4;
}
