.row {
  display: grid;
  grid-template-areas:    
    'one two three four result button';
  column-gap: 0.5rem;
  align-items: center;
}

.guess-cell-1 {
  grid-area: one;
}

.guess-cell-2 {
  grid-area: two;
}

.guess-cell-3 {
  grid-area: three;
}

.guess-cell-4 {
  grid-area: four;
}

.result-cell, 
.result-cell::after {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.25rem;
  background-color:rgb(29, 86, 115); 
}

.result-wrapper {
  grid-area: result;
  display: grid;
  grid-template-areas:    
    'r1 r2' 
    'r3 r4';
  gap: 0.15rem;
}

.result-cell-1 {
  grid-area: r1;
}

.result-cell-2 {
  grid-area: r2;
}

.result-cell-3 {
  grid-area: r3;
}

.result-cell-4 {
  grid-area: r4;
}

.button {
  grid-area: button;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
