:root {
  --border-radius: 0.75rem;
  --border: 2px solid rgb(13, 62, 88);
}

.row {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.empty-result, 
.empty-result::after {
  width: var(--cell-xl);
  height: var(--cell-xl);
  border-radius: var(--border-radius);
  border: var(--border);
}

.button {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: var(--cell-xl);
  height: var(--cell-xl);
  border-radius: var(--border-radius);
  /* border: var(--border); */
  font-size: 0.75rem;
  font-weight: bold;
}

.arrow {
  width: var(--cell-xl);
  height: var(--cell-xl);
  justify-content: end;
  display: flex;
  align-items: center;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
